[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
request = "*"
requests = "*"
"boto3" = "*"

[dev-packages]
pycodestyle = "*"
pydocstyle = "*"
pylint = "*"
pyflakes = "*"
ipython = "*"

[requires]
python_version = "3.6"
